<section id="create-review">
    <div class="createReviewSection">
        <div class="info-review">
            <h2>"It is a far, far better thing that I do, than I have ever done." — A Tale of Two Cities,
                1859.</h2>
        </div>

        <form method="post" class="createReviewForm">
            <h2>Add Review</h2>
            <ul class="noBullet">
                <li>
                    <label for="title">Review Title:</label>
                    <input type="text" class="inputFields" id="title" name="title" />
                </li>
                <li>
                    <label for="rating">Rating:</label>
                    <input type="text" class="inputFields" id="rating" name="rating" />
                </li>
                <li>
                    <label for="content">Review content:</label>
                    <textarea type="text" class="inputFields content-review" id="content" name="content"></textarea>
                </li>
                <li id="center-btn">
                    <button id="create-btn">Add Review</button>
                </li>
            </ul>
        </form>

    </div>
</section>