<div class="review-card">
    <div class="card-img">
        <img src="./static/img/avatar.avif" alt="image">
    </div>
    <div class="review-info">
        <h1>John Doe</h1>
        <div>
            <h3>Rating:</h3><span>4</span>
        </div>
        <div>
            <h3>Date:</h3><span>24-06-2026</span>
        </div>
        <div>
            <h3>Title:</h3><span>Lorem</span>
        </div>
        <h3>Review:</h3><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, natus laborum. Culpa
            optio, repellendus non eaque quod ab voluptatibus reiciendis.</span>
    </div>
</div>