<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attach Review Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="./static/img/logo.jpg" alt="logo">

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Add Book</a></li>
                <li><a href="#">Add Review</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">About</a></li>
            </ul>

        </nav>

        <main>
            <section id="attachCast">
                <div class="attachCastSection">
                <h1>Attach New Review</h1>
                <div class="attach-form">
                    <h2>Dune</h2>
                    <img class="book" src="./static/img/Dune.jpg">
                    <form action="" method="">
                        <label for="cast">Review</label>
                        <select id="cast" name="cast">
                        <option value="none" selected>--------</option>
                        <option value="Review 1">Review 1</option>
                        <option value="Review 2">Review 2</option>
                        <option value="Review 3">Review 3</option>
                        <option value="Review 4">Review 4</option>
                        <option value="Review 5">Review 5</option>
                        </select>
                        <div id="center-btn">
                            <button id="create-btn">Add Review</button>
                        </div>
                    </form>
                </div>
            </div>
            </section>
            
        </main>


        <footer>
            © JS Back-End Workshop
        </footer>
    </div>


</body>

</html>
