<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Review Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="./static/img/logo.jpg" alt="logo">

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Add Book</a></li>
                <li><a href="#">Add Review</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">About</a></li>
            </ul>

        </nav>

        <main>

            <section id="create-review">
                <div class="createReviewSection">
                    <div class="info-review">
                        <h2>"It is a far, far better thing that I do, than I have ever done." — A Tale of Two Cities,
                            1859.</h2>
                    </div>

                    <form action="#" method="" class="createReviewForm">
                        <h2>Add Review</h2>
                        <ul class="noBullet">
                            <li>
                                <label for="name">Reviewer Name:</label>
                                <input type="text" class="inputFields" id="name" name="" value="" />
                            </li>
                            <li>
                                <label for="age">Rating:</label>
                                <input type="number" class="inputFields" id="age" name="" value="" />
                            </li>
                            <li>
                                <label for="born">Date:</label>
                                <input type="text" class="inputFields" id="born" name="" value="" />
                            </li>
                            <li>
                                <label for="name-in-book">Review Title:</label>
                                <input type="text" class="inputFields" id="name-in-book" name="" value="" />
                            </li>
                            <li>
                                <label for="image">Review content:</label>
                                <textarea type="text" class="inputFields content-review" id="image" name="" value="" ></textarea>
                            </li>
                            <li>
                                <label for="image">Reviewer Avatar:</label>
                                <input type="text" class="inputFields" id="image" name="" value="" />
                            </li>
                            <li id="center-btn">
                                <button id="create-btn">Add Review</button>
                            </li>
                        </ul>
                    </form>

                </div>
            </section>

        </main>


        <footer>
            © JS Back-End Workshop
        </footer>
    </div>


</body>

</html>