<section id="catalog">
    <h1>All Books</h1>
    <div class="band">

        <!-- If there are posts for book in the database display each of them -->
        {{#each books}}
        {{>book}}
        {{else}}
        <!-- If there are still no posts in the database display: -->
        <div class="no-posts">
            <p class="no-offer">There are no books aded yet...</p>
        </div>
        {{/each}}
    
    </div>
</section>