<section id="attachReview">
    <div class="attachReviewSection">
        <h1>Attach New Review</h1>
        <div class="attach-form">
            <h2>{{book.title}}</h2>
            <img class="book" src={{book.imageUrl}} alt={{book.title}}>
            <form action="" method="">
                <label for="review">Review</label>
                <select id="review" name="review">
                    <option value="none" selected>--------</option>
                    <option value="Review 1">Review 1</option>
                    <option value="Review 2">Review 2</option>
                    <option value="Review 3">Review 3</option>
                    <option value="Review 4">Review 4</option>
                    <option value="Review 5">Review 5</option>
                </select>
                <div id="center-btn">
                    <button id="create-btn">Add Review</button>
                </div>
            </form>
        </div>
    </div>
</section>