<div class="review-card">
    <div class="card-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEy7pwqmpRqSf5t5v1dCOJsCsYlXeBGjIg3i3Z2HIzvg&s=10" alt="avatar">
    </div>
    <div class="review-info">
        <h1>Pesho</h1>
        <div>
            <h3>Rating:</h3><span>{{rating}}</span>
        </div>
        <div>
            <h3>Date:</h3><span>{{updatedAt}}</span>
        </div>
        <div>
            <h3>Title:</h3><span>{{title}}</span>
        </div>
        <h3>Review:</h3><span>{{content}}</span>
    </div>
</div>