<section id="create-critic">
    <div class="createReviewSection">
        <div class="info-review">
            <h2>"It is a far, far better thing that I do, than I have ever done." — A Tale of Two Cities,
                1859.</h2>
        </div>

        <form method="post" class="createReviewForm">
            <h2>Add Critic</h2>
            <ul class="noBullet">
                <li>
                    <label for="name">Critic Name:</label>
                    <input type="text" class="inputFields" id="name" name="name" />
                </li>
                <li>
                    <label for="avatar">Critic Avatar:</label>
                    <input type="text" class="inputFields" id="avatar" name="avatar" />
                </li>
                <li id="center-btn">
                    <button id="create-btn">Add Critic</button>
                </li>
            </ul>
        </form>

    </div>
</section>